
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>History</h2>
<link href="~/Content/NewSheet1.css" rel="stylesheet" />
<img src="~/Images/MKS.jpg" />
<h1 style="color:red">Welcome to Cracovia fan club website</h1>
<p style="color:red">Where you get information on Cracovia</p>
<p style="color:red">Here you will get news and updates</p>
<p>Learn the history of the club.</p>
<p>Glance at our image gallery.</p>
<img src="~/Images/KAK.jpg" />
<p>
    Poland; home to some of the most feared football firms in the world. Think about Britain's big hooligan days in the 80's. Well, that's what it is with Poland today. These firms are feared all across Europe and it was once said on television:

    "In the Polish Premier League, the hooligans have a league of their own."

    The deadliest groups come from Krakow and I don't know if any derby is as intense as Wisla Krakow against MKS Cracovia. With stadium capacities of 6,000 and 20,000, it's surely not the biggest match in the world.

    The Old Firm games are much bigger. However, I doubt even they can compete with the atmosphere at the Krakow derby. Wisla is known as Biala Gwiazda (White Star) and the Cracovia fans refer to them as dogs.


</p>
<p>
    Wisla was owned by the communist police for 40 years, and dog is a common term used for police officers in Poland. Cracovia are known as Pasy (Stripes) or Jews because of their supposed Jewish roots.

    The firms are two of the baddest in Poland. You have the Wisla Sharks (Krakow) and Anti-Wisla (Cracovia). You can see the hatred when one firm gives itself a name clearly stating they are against the opposition.

    When you have an intense rivalry between two teams, usually they are two separate cities. Not in this case, as both resign in Krakow. The stadiums are only 500 meters apart and the housing estates are nearby one another too.
</p>
<img src="~/Images/football 12.jpg"  height="200" width="200"/>