
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/NewSheet1.css" rel="stylesheet" />
<img src="~/Images/MKS.jpg" />
<h1 style="color:red">Welcome to Cracovia fan club website</h1>
<p style="color:red">Where you get information on Cracovia</p>
<p style="color:red">Here you will get news and updates</p>
<p>Learn the history of the club.</p>
<p>Glance at our image gallery.</p>
<img src="~/Images/KAK.jpg" />

<p>Check out images and many more.</p>
<img src="~/Images/Heavy 12.jpg" width="100" height="100">

<h1>Cracovia are the oldest active sports club in Poland</h1>
<p>
    However, the games were merely recreational in nature and the regulations could be interpreted freely. The arrival of teams from Lviv on the 4th of June 1906 was essential to establishing organized football clubs in Cracow.

    It was back then that squads from the two towns faced one another in a series of matches. In the first game Czarni Lwów played against Przodownicy (Studenci) - a team of Cracovian high school students. In another match students from Lviv faced a line-up consisting of members from the public - Akademicy. This event acted as a catalyst to the growth of football in Cracow. On the 13th of June, after a classified in a newspaper "Nowa Reforma" had been posted to encourage people to join in, Akademicy had their first training session.
</p>